[core]
    excludesfile = ~/.gitignore_global
    editor = vim
[merge]
    tool = vimdiff
[alias]
    s = status
    co = checkout
    g = log --graph --topo-order --all --date=short --pretty=format:'%C(green)%h %C(blue)%ad %C(cyan)%an%C(red)%d %C(reset)%s'
    cm = commit -m
    difff = diff --word-diff
[include]
    path = ~/.gitconfig.local

